@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Sometype Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Sometype Mono', monospace;
}
